{% extends 'base.html' %}

{% block title %} Care {% endblock title %}
{% block body %}



    
                    <div class="px-4 py-5 my-5 text-center">
                    <h1><strong>Student Hostels</strong> </h1>
                </div>
            


    <main class="container">
    <!-- Main Content ( Middle Content) -->
    <div class="clearfix"></div>
    <div id="content" class="eight columns">
        <div class="region region-content">
            <div id="block-system-main" class="block block-system">


                <div class="content">
                    <div id="node-666" class="node node-page en node-page clearfix avaya"
                        about="/en/about-iit-bombay/student-hostels" typeof="foaf:Document">
                        <div class="article_title">
                            <span property="dc:title" content="Student Hostels " class="rdf-meta element-hidden"></span>
                        </div>


                        <div class="content">
                            <div class="field field-name-body field-type-text-with-summary field-label-hidden">
                                <div class="field-items">
                                    <div class="field-item even" property="content:encoded">
                                        <p>Kalyani University is well known for its extensive residential facilities. Students
                                            have the luxury of being located in Nodia, one of the finer suburbs of
                                            Kalyani, outside the bustle of the city, yet not far from the attractions of
                                            the city during weekends. Staying in the campus is particularly attractive
                                            because resident students have access to several facilities.</p>
                                        <p><strong>HOSTEL CO-ORDINATING UNIT (HCU)</strong></p>
                                        <p><strong>OVERVIEW</strong></p>
                                        <p>The Hostel Co-Ordinating unit is located on the minus one level of the Main
                                            Building of Kalyani University. The HCU has the role of managing and Co-ordinating
                                            the activities of 17 Hostels of campus (hostels no-1 to16, hostel no -18 and
                                            Tansa).The HCU also manages the workforce under the centralized hostel
                                            management system.</p>
                                        <p>The hostel co-ordinating unit looks after following areas:</p>
                                        <ul>
                                            <li>Co-ordinating the activities of various Hostels in matters of common
                                            </li>
                                        </ul>
                                        <p>Interest and common policy.<br>Majority of the hostels have a private caterer
                                            serving in their messes.&nbsp; HCU publishes the tender for selection of
                                            caterers in various hostels and conducts<br>The process of selection. The
                                            hostel wardens’ council decides and formulates various policies, such as
                                            policy of guest booking, policy for selection of caterers to run the messes
                                            and canteens in all the hostels. These common policy are implemented by HCU.
                                        </p>
                                        <ul>
                                            <li>Issuing no-dues certificates to graduate students</li>
                                        </ul>
                                        <p>Every graduating students is required to obtain a no dues certificate from
                                            the respective hostel before approaching the hostel co-ordinating unit for
                                            no dues certificates. The form of no dues certificates is available in HCU.
                                        </p>
                                        <ul>
                                            <li>Allotment of hostels for various conference, seminars, workshops</li>
                                        </ul>
                                        <p><strong>And other events.</strong></p>
                                        <p>Conferences, Seminars, Workshops, symposiums etc. are held in the institute
                                            at regular intervals. The participants in these events are accommodated in
                                            various &nbsp;hostels&nbsp; on campus. For hostel rules the organizers of
                                            the event ae required to send request to the associated Den(SA), well in
                                            advanced and a Confirmation will be given about two weeks before the date of
                                            event.</p>
                                        <ul>
                                            <li>Allotments of Hostels rooms to interns.</li>
                                        </ul>
                                        <p>Hostels rooms are allotted to external summer intern and also to the interns
                                            during winter vacation provided they are working with a faculty member from
                                            Kalyani University. The interns are required to complete the formalities such as
                                            registration, payment of internship fees etc. with the academic
                                            office&nbsp;and thereafter visit HCU (only during working hours) for
                                            allotment of accommodation. Rooms to interns are always provided on sharing
                                            bases.&nbsp;The interns are advised not to approach for extension of tenure
                                            of stay in hostels.&nbsp;</p>
                                        <ul>
                                            <li>Allotments of Hostels rooms to the candidates visiting IIT for various
                                                Interviews for admission school the academic programme of the institute
                                                (M.Tech., M.Sc., Ph.D. etc.)</li>
                                        </ul>
                                        <p>Hostels rooms are allotted to the candidates appearing for written test
                                            interviews, for admission to various academic programme of Institute. The
                                            allotment is made for a short duration of 3-4 days. An online portal is
                                            activated usually before 10-20 days, before the dates of written test and
                                            interviews details instruction are published at the time of release a
                                            portal.</p>
                                        <ul>
                                            <li>Handling HR function in respect of CHMS workers.</li>
                                        </ul>
                                        <p>There are about 125 regular staff employed under the centralized hostel
                                            management system. HCU maintained all service records in case of these
                                            employees. HCU also process there retirement, final payments etc.</p>
                                        <ul>
                                            <li>Allotment of Guest accommodation to the parents, whose children are
                                                Studying in this institute.</li>
                                        </ul>
                                        <p>Guest accommodation for parents visiting their children’s, studying in IIT
                                            Bombay, is provided subject to following norms;</p>
                                        <ol>
                                            <li>Accommodation is provided for period one week only.</li>
                                            <li>Shared accommodation is provided in any of the hostels only if
                                                available.</li>
                                            <li>Accommodation is provided for Father, Mother, Husband/Wife, Siblings
                                                (only if accompanied by at least one of the parents), Other relatives
                                                (only if accompanied by at least one of the parents)</li>
                                        </ol>
                                        <ul>
                                            <li>Allotment of hostels to the existing and newly join students.</li>
                                        </ul>
                                        <p>The students should be staying on campus in legibility manner during the stay
                                        </p>
                                        <p><strong>EXITING STUDENTS</strong></p>
                                        <p>During the second year onwards students are shifted to other hostel. The
                                            allocation is again based on their department and no change in allocation is
                                            allowed. Towards end of each semester the students are allowed to make a
                                            request for retension of room during the vacaton only limited number of such
                                            requeat are allowed based on genuine requirement.(Attending summer course,
                                            final year project etc)</p>
                                        <p>Accomodation also be provided no legal guardians in expectational cases and
                                            medical emergencies certified writing by the IIT hospital or students
                                            wellness center for an period of more then one week</p>
                                        <p><strong>Allotment of hostel to newly joinng students</strong></p>
                                        <p>The process of allocation of hostel to the newly joined students is as under:
                                        </p>
                                        <ul>
                                            <li>The list of stuents joining the institute is recived from the academic
                                                section of the institute and based on the availability of various
                                                hostels the students are randomly allocated rooms in vaio hostels.</li>
                                            <li>In normal course any change in the room alogation is not allowed.</li>
                                            <li>The allogation are usually made keeping in mind the fact hat clubing
                                                same departmemt student at one place them to afficieeeetly manage there
                                                departments activites such as proects.</li>
                                            <li>Usualy all the first year student for al academic programe (UG,PG) are
                                                allowted to the same hostel.</li>
                                            <li>Only shared acommodation is alloted during the first year of any
                                                according programme(B.Tech,M.Tech,P.hd,M.Phil,B.Des,m.Des,etc)</li>
                                        </ul>
                                        <p>The folowing furniture is provided in the room:</p>
                                        <ul>
                                            <li>bed</li>
                                            <li>chair</li>
                                            <li>studytable</li>
                                            <li>cupboard</li>
                                        </ul>
                                        <p>IN the following iteams are required to be bought by the students at their
                                            own expenses.</p>
                                        <ul>
                                            <li>Buckets</li>
                                            <li>Mattress</li>
                                            <li>Bedsheets</li>
                                            <li>Pillow</li>
                                        </ul>
                                        <p>Any other items of personal use except electrical items, that may be needed
                                        </p>
                                        <p>&nbsp;Kalyani University boasts&nbsp; 17 hostels&nbsp;&nbsp;(hostels no-1 to16,
                                            hostel no -18 and Tansa); you can access the links below to learn more about
                                            each of these hostels.</p>
                                        

    


    <!-- End Main Content ( Middle Content) -->

</div>
</main>

<div class="container">
    <footer class="py-3 my-4 px-4">
      <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a href="/" class="nav-link px-2 text-muted">Home</a></li>
        <li class="nav-item"><a href="/meal" class="nav-link px-2 text-muted">Meal</a></li>
        
        <li class="nav-item"><a href="https://www.klyuniv.ac.in/" class="nav-link px-2 text-muted">University portal</a>
        </li>
        <li class="nav-item"><a href="/contact_us" class="nav-link px-2 text-muted">FAQs</a></li>
        <li class="nav-item"><a href="/info" class="nav-link px-2 text-muted">Project Info</a></li>
         
      </ul>
      <p class="text-center text-muted">© 2022 KU Hostel, Inc</p>
      
    </footer>
  </div>

{% endblock body %}