{% extends 'base.html' %}

{% block title %} Gallary {% endblock title %}
{% block body %}
<div class="px-4 py-5 my-5 text-center">
  <h1><strong>Welcome to Gallary</strong> </h1>
</div>

<div class="container">


<div class="album py-5 bg-light">
  

    <div class="row">
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top"
            data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
            alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;"
            src="/static/image/G3.jpg"
            data-holder-rendered="true">
          
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top"
            data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
            alt="Thumbnail [100%x225]"
            src="/static/image/Hostelbanner1.JPG"
            data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
          
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top"
            data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
            alt="Thumbnail [100%x225]"
            src="/static/image/Hostelbanner7.JPG"
            data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
          
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top"
            data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
            alt="Thumbnail [100%x225]"
            src="/static/image/Hostelbanner6.JPG"
            data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
          
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top"
            data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
            alt="Thumbnail [100%x225]"
            src="/static/image/Hostelbanner5.JPG"
            data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
          
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top"
            data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
            alt="Thumbnail [100%x225]"
            src="/static/image/Hostelbanner3.JPG"
            data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
          
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top"
            data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
            alt="Thumbnail [100%x225]"
            src="/static/image/Hostelbanner2.JPG"
            data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
          
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top"
            data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
            alt="Thumbnail [100%x225]"
            src="/static/image/Hostelbanner.JPG"
            data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
          
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top"
            data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
            alt="Thumbnail [100%x225]"
            src="/static/image/Hostelbanner1.JPG"
            data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
          
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top"
            data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
            alt="Thumbnail [100%x225]"
            src="/static/image/G1.jpg"
            data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
          
        </div>
      </div><div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top"
            data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
            alt="Thumbnail [100%x225]"
            src="/static/image/G2.jpg"
            data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
          
        </div>
      </div><div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top"
            data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
            alt="Thumbnail [100%x225]"
            src="/static/image/G4.jpg"
            data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
          
        </div>
      </div><div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top"
            data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
            alt="Thumbnail [100%x225]"
            src="/static/image/G5.jpg"
            data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
          
        </div>
      </div><div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top"
            data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
            alt="Thumbnail [100%x225]"
            src="/static/image/G6.jpg"
            data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
          
        </div>
      </div><div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top"
            data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
            alt="Thumbnail [100%x225]"
            src="/static/image/g7 (1).jpg"
            data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
          
        </div>
      </div><div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top"
            data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
            alt="Thumbnail [100%x225]"
            src="/static/image/G8.jpg"
            data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
          
        </div>
      </div><div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top"
            data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
            alt="Thumbnail [100%x225]"
            src="/static/image/G9.jpg"
            data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
          
        </div>
      </div><div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top"
            data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
            alt="Thumbnail [100%x225]"
            src="/static/image/hostel-2.png"
            data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
          
        </div>
      </div><div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top"
            data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
            alt="Thumbnail [100%x225]"
            src="/static/image/hostel-1.jpg"
            data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
          
        </div>
      </div><div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top"
            data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
            alt="Thumbnail [100%x225]"
            src="/static/image/hostel-1.png"
            data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
          <!---->
        </div>
      </div><div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top"
            data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
            alt="Thumbnail [100%x225]"
            src="/static/image/hostel-1.jpg"
            data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
          <!---->
        </div>
      </div>
  </div>
</div>
</div>
</div></div>

<div class="container">
  <footer class="py-3 my-4 px-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a href="/" class="nav-link px-2 text-muted">Home</a></li>
      <li class="nav-item"><a href="/meal" class="nav-link px-2 text-muted">Meal</a></li>
      
      <li class="nav-item"><a href="https://www.klyuniv.ac.in/" class="nav-link px-2 text-muted">University portal</a>
      </li>
      <li class="nav-item"><a href="/contact_us" class="nav-link px-2 text-muted">FAQs</a></li>
      <li class="nav-item"><a href="/payment" class="nav-link px-2 text-muted">Project Info</a></li>
    </ul>
    <p class="text-center text-muted">© 2022 KU Hostel, Inc</p>
  </footer>
</div>
{% endblock body %}