{% extends 'base.html' %}

{% block title %} Home {% endblock title %}
{% block body %} 


<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/static/image/crousel1.jpg" class="d-block w-100" alt="/static/image/blue-background-new.png">
      <div class="carousel-caption d-none d-md-block">
        <h2>Hostels</h2>
        <p>University of Kalyani</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/static/other_image/111.jpg" class="d-block w-100" alt="/static/image/blue-background-new.png">
    </div>
    <div class="carousel-item">
      <img src="/static/image/crouselprime.jpg" class="d-block w-100" alt="/static/image/blue-background-new.png">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>



    <! Middle Templates>

      <main class="container px-0 my-4  ">
        <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
          <div class="col-md-6 px-0">
            <h1 class="display-4 fst-italic">Hostel Accommodation
            </h1>
            <p class="lead my-3"> Admission to different Halls and Hostels of the University is made, generally, on the
              basis of the distance from the residence and family income of the regular students and Research Scholars.
              Regular students or Research scholars have to apply to the Dean, Students’ Welfare in prescribed Hostel
              Admission form along with following documents : Attested photo copies of (i) Admission Fees book, (ii)
              Residential document (Voter ID/Ration card), (iii) Distance certificate & Rail ticket, (iv) Family income
              certificate, (v) Caste certificate, (vi) Two copies of photograph etc.</p>
            <p class="lead mb-0"><a href="https://klyuniv.ac.in/services-facilities/hostest-accommodation/"
                class="text-white fw-bold">Continue reading...</a></p>
          </div>

        </div>


        <div class="row mb-2">
          <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
              <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-primary">Infrastructure</strong>
                <h3 class="mb-0">The facilities provided by KU</h3>
                <div class="mb-1 text-muted">Feb 12</div>
                <p class="card-text mb-auto">Kalyani University has the facilities of hostels for both girls and boys to facilitate on-campus living for its students pursuing UG and PG programs in the residential modes…</p>
                <a href="/infra" class="stretched-link">Continue reading</a>
              </div>
              <div class="col-auto d-none d-lg-block">
                <img src="/static/image/114.jpg" class="d-block w-100" alt="...">

              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
              <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-success">Mankind</strong>
                <h3 class="mb-0">Connecting to Care</h3>
                <div class="mb-1 text-muted">May 29, 2019</div>
                <p class="mb-auto">Kalyani University is well known for its extensive residential facilities.</p>
                <a href="/care" class="stretched-link">Continue reading</a>
              </div>
              <div class="col-auto d-none d-lg-block">
                <img src="/static/image/113.jpg" class="d-block w-100" alt="...">

              </div>
            </div>
          </div>
        </div>



        <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
          <div class="col-md-5 p-lg-5 mx-auto my-5">
            <h1 class="display-4 fw-normal">EXTRAS</h1>
            <p class="lead fw-normal">Each hostel has the facility of sports equipment and an adjoining wide field for
              playing football, cricket, badminton, etc. Hall Day Function: Borders of Each Hostel have been arranging ”
              Hall Day Function” every year which includes cultural functions, sports games and competitions, Literacy,
              Fine arts, and Dance Music Events.</p>
            <a class="btn btn-outline-secondary" href="/extra">Click Here</a>
          </div>
          <div class="product-device shadow-sm d-none d-md-block"></div>
          <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
        </div>

        <div class="px-4 pt-5 my-5 text-center border-bottom">
          <h1 class="display-4 fw-bold">Everlasting Memories of University Days</h1>
          <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">The most enjoyable, lovable, memorable, and fanciful phases of our life with lots of nostalgic and immortal memories are childhood and college / university life. And yes, university period has been the best phase of our life. Fond memories of the days spent at Gulbarga University evoke visual images of people, places and time spent on the campus. If we stop and close our eyes, we can see it all so clearly and feel as if those days were not very long ago.</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
            </div>
          </div>
          <div class="overflow-hidden" style="max-height: 30vh;">
            <div class="container px-5">
              <img src="/static/image/Kalyani_University.jpg" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="700" height="500" loading="lazy">
            </div>
          </div>
        </div>

        <div class=" row flex-lg-row-reverse align-items-center g-5  py-5 px-5">
          <div class="col-10 col-sm-8 col-lg-6">
            <img src="/static/image/hostel-2.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
          </div>
          <div class="col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">The home for the memories</h1>
            <p class="lead">Tearful first day night at hostel
              Meeting new people and making new Friends
              Roommates from different streams
              Scary nit before freshers party
              Learn to manage expenses and money management
              Made friends for life
              Days without breakfast
              Small occasion and event is celebrated with utmost excitement and pleasure
              Gallery flooded with snaps and videos
              Single plate to feed 10-15 people
              That "RIGHT TO VOTE" moment for Hostel Council Election
              Weird feeling when some of our roommate started talking at mid night while sleeping
              Missing moms pamper during sick
              .</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <a class="btn btn-primary" href="/hostel_more">Click Here</a>
            </div>
          </div>
        </div>
        </div>
      </div>

        <div class="container">
          <footer class="py-3 my-4 px-4">
            <ul class="nav justify-content-center border-bottom pb-3 mb-3">
              <li class="nav-item"><a href="/" class="nav-link px-2 text-muted">Home</a></li>
              <li class="nav-item"><a href="/meal" class="nav-link px-2 text-muted">Meal</a></li>

              <li class="nav-item"><a href="https://www.klyuniv.ac.in/" class="nav-link px-2 text-muted">University
                  portal</a>
              </li>
              <li class="nav-item"><a href="/form" class="nav-link px-2 text-muted">Apply Now</a></li>
              <li class="nav-item"><a href="http://127.0.0.1:8000/admin" class="nav-link px-2 text-muted">Admin</a></li>
              <li class="nav-item"><a href="/info" class="nav-link px-2 text-muted">Project Info</a></li>
            </ul>
            <p class="text-center text-muted">© 2022 KU Hostel, Inc</p>
          </footer>

        {% endblock body %}