








{% extends 'base.html' %}

{% block title %} Information {% endblock title %}
{% block body %}


<main class="container px-0 my-4">
    <div class="py-5 text-center"><h1>Project Info</h1></div>
    

    <div class="container-fluid  mx-2 py-5 text-center">
<div class="row">
    <div class="col-lg-4">
      <img class="rounded-circle" src="/static/image/PRS_Sir.jpg" alt="Generic placeholder image" width="140" height="140">
      <h2>Prof. Priya Ranjan Sinha Mahapatra (MENTOR)</h2>
      
         <p> Showing the path for the project.</p>
        <p>Helping and Sloving the doubt.</p>
      
        <a href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox?compose=priya.cseku@gmail.com"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-fill" viewBox="0 0 16 16">
            <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16 11.801V4.697l-5.803 3.546Z"/>
            <p>priya.cseku@gmail.com</p>
        </svg></a>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-phone-fill" viewBox="0 0 16 16">
            <path d="M3 2a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V2zm6 11a1 1 0 1 0-2 0 1 1 0 0 0 2 0z"/>
            <p>+91-6290-713486</p>
          </svg>
        
        
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="rounded-circle" src="/static/image/Anirban.jpg" alt="Generic placeholder image" width="140" height="140">
      <h2>Anirban Ganguly (Backend Developer)</h2>
      
        <p>Frame work - Django.</p>
      <p>Backend Code & software - Python, SQLlite3, Amazon AWS(E2C), Git and Github.</p>
    
      <a href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox?compose=anirbanganguly657@gmail.com"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-fill" viewBox="0 0 16 16">
          <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16 11.801V4.697l-5.803 3.546Z"/>
          <p>anirbanganguly657@gmail.com</p>
      </svg></a>
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-phone-fill" viewBox="0 0 16 16">
          <path d="M3 2a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V2zm6 11a1 1 0 1 0-2 0 1 1 0 0 0 2 0z"/>
          <p>+91-7980-142687</p>
        </svg>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="rounded-circle" src="/static/image/Sanket.jpg" alt="Generic placeholder image" width="140" height="140">
      <h2>Sanket Auddya (Frontend Developer)</h2>
      
        <p>Tamplates - Bootstrap 4, Trail Wind CSS.</p>
      <p>Frontend Code - HTML, CSS, JavaScript.</p>
    
      <a href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox?compose=sanketauddya1999@gmail.com"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-fill" viewBox="0 0 16 16">
          <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16 11.801V4.697l-5.803 3.546Z"/>
          <p>sanketauddya1999@gmail.com</p>
      </svg></a>
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-phone-fill" viewBox="0 0 16 16">
          <path d="M3 2a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V2zm6 11a1 1 0 1 0-2 0 1 1 0 0 0 2 0z"/>
          <p>+91-7557-036091</p>
        </svg>
        
    </div><!-- /.col-lg-4 -->
  </div>

</div>
</main>

<div class="container">
    <footer class="py-3 my-4 px-4">
      <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a href="/" class="nav-link px-2 text-muted">Home</a></li>
        <li class="nav-item"><a href="/meal" class="nav-link px-2 text-muted">Meal</a></li>
        
        <li class="nav-item"><a href="https://www.klyuniv.ac.in/" class="nav-link px-2 text-muted">University portal</a>
        </li>
        <li class="nav-item"><a href="/contact_us" class="nav-link px-2 text-muted">FAQs</a></li>
        <li class="nav-item"><a href="/info" class="nav-link px-2 text-muted">Project Info</a></li>
      </ul>
      <p class="text-center text-muted">© 2022 KU Hostel, Inc</p>
    </footer>
  </div>




{% endblock body %}