{% extends 'base.html' %}

{% block title %} Infrastructure {% endblock title %}
{% block body %}


  <div class="px-4 py-5 my-5 text-center">  
   <h2><strong> Kalyani University Hostel</strong> </h2>
    </div>
  <main class="container ">
  <div class="container-fluid px-4 py-2">
  <p>Kalyani University  has the facilities of hostels for both girls and boys to facilitate on-campus living for its students
    pursuing UG and PG programs in the residential modes. <a
      href="https://klyuniv.ac.in/services-facilities/hostest-accommodation/" target="_blank">Kalyani University </a> owns a total of 10 hostels which are popularly called Halls of Residence and provides a comfortable
    living for all the students as the hostels are well equipped with all necessary amenities such as mess and dining
    facilities. The names of all the residence halls at IIT KGP are as follows.&nbsp;</p>
  
  <ul>
    <li>Dijendralal Bhawan (P.G Hall -I)</li>
    <li>Bibekananda Bhawan (P.G Hall -II)</li>
    <li>Meghnad Saha Bhawan (P.G Hall -III)</li>
    <li>Jagadish Chandra Bhaban (Banyan Hall )</li>
    <li>Satyandranath Bhawan (R.S. Mens')</li>
    <li>Lilabati Bhawan (R.S. Womens')</li>
    <li>Matangani Bhawan ( L.H – I )</li>
    <li>Nibedita Bhawan ( L.H – II)</li>
    <li>Radhakrishnan Bhawan (B.T. Mens')</li>
    <li>Terresa Bhawan (extension of LH-II)</li>
    
  </ul>
  
  <h2><strong> Hostel Facilities:</strong></h2>
  <ul>
      <li> hostels are fully wifi enabled to provide free-of-cost internet with amazing speed.</li>
      <li>Amenities such as fans, bulbs, washing machines, and other cleaning facilities.&nbsp;</li>
      <li>Each hall of residence has its own attached mess.&nbsp;</li>
      <li>The hostels provide easy access to the academic blocks of the Kalyani University  campus.</li>
  </ul>



<p align="justify">JIS University offers comprehensive hostel facilities for boys and girls separately within the
    University Campus and off campus. They have been designed to provide a comfortable, safe, inclusive and secure
    living even as they provide opportunities to form lasting friendships and ease the transition from home to college.
    Residential staff is always available to support the students from different backgrounds to promote community.
    Living on campus provides students with opportunities to:</p>


    <ul class="tt-custom-list">
     
        <li style=""><i class="fa fa-check-square-o" style="color: #f8d24b;"></i> Connect with a diverse people.</li>
        
        <li style=""><i class="fa fa-check-square-o" style="color: #f8d24b;"></i> Develop stronger interpersonal and communication skills.</li>
        <li style=""><i class="fa fa-check-square-o" style="color: #f8d24b;"></i> Engage in campus leadership, organizations and activities.</li>
            <li style=""><i class="fa fa-check-square-o" style="color: #f8d24b;"></i>Establish relationships with faculty and staff members</li>
        </ul>

        <div class="vc_row wpb_row vc_inner vc_row-fluid">
            <div class="wpb_column vc_column_container vc_col-sm-12">
            <div class="vc_column-inner">
            <div class="wpb_wrapper">
            <div class="tt-heading">
            <div class="vc_empty_space" style="height: 24px"><span class="vc_empty_space_inner"></span></div>
                        
                                    
                                    <h2 class="tt-heading-title c-h2 txt-uppercase"><span class="uppercase" style="font-size: 16px;">Infrastructure</span></h2>
                                </div>
            <div class="wpb_text_column wpb_content_element ">
            <div class="wpb_wrapper">
            <p align="justify">Caring wardens, vigilant security and CCTV surveillance ensures a pleasant stay allowing students to focus on academics. Spacious residential apartment with necessary amenities consist of 2/3 single rooms with attached bathroom and sitting lounge equipped with common room, gaming, newspapers, cable TV and safe drinking water (Auqaguard), geysers, coolers, Visitors' Lounge, laundry services available on demand etc. All hostels are sanitized regularly and necessary pest control conducted.</p>
            <p align="justify">Hostel review committee monitors welfare of the students comprising of senior administrative and faculty members address students’ queries and requirements, standards of facilities and quality of services.</p>
                    
                </div>
                </div>
            <ul class="tt-custom-list">
                 
            <li style=""><i class="fa fa-check-square-o" style="color: #f8d24b;"></i> Rooms equipped with furniture which includes a cot, chair, study table, study lamp, bookshelf and a cupboard.</li>
            
            <li style=""><i class="fa fa-check-square-o" style="color: #f8d24b;"></i> First aid center, indoor gaming amenities, laundry service, Wi-Fi service.</li>
            <li style=""><i class="fa fa-check-square-o" style="color: #f8d24b;"></i> Residential Wardens, Supervisors, maintenance staff and security guards available 24x7.</li>
            <li style=""><i class="fa fa-check-square-o" style="color: #f8d24b;"></i> Safe transit for students is provided to and from the campus. </li>
            <li style=""><i class="fa fa-check-square-o" style="color: #f8d24b;"></i> 24 hours water supply and power supply supported by stand-by captive generators.</li>
            
            </ul>
            
            </div>
            </div>
            </div>
            </div>


            <div class="vc_row wpb_row vc_inner vc_row-fluid">
                <div class="wpb_column vc_column_container vc_col-sm-12">
                <div class="vc_column-inner">
                <div class="wpb_wrapper">
                <div class="tt-heading">
                <div class="vc_empty_space" style="height: 24px"><span class="vc_empty_space_inner"></span></div>
                            
                                     
                                        <h2 class="tt-heading-title c-h2 txt-uppercase"><span class="uppercase" style="font-size: 16px;">Following items are required to be bought by the students at their own expenses.</span></h2>
                                    </div>
                
                        
                      
                <ul class="tt-custom-list">
                     
                <li style=""><i class="fa fa-check-square-o" style="color: #f8d24b;"></i> Buckets</li>
                
                <li style=""><i class="fa fa-check-square-o" style="color: #f8d24b;"></i> Mattress</li>
                <li style=""><i class="fa fa-check-square-o" style="color: #f8d24b;"></i> Bed sheets</li>
                <li style=""><i class="fa fa-check-square-o" style="color: #f8d24b;"></i> Pillow</li>
                
                
                </ul>
                
                </div>
                </div>
                </div>
                </div>
            </main>


            
<div class="container">
    <footer class="py-3 my-4 px-4">
      <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a href="/" class="nav-link px-2 text-muted">Home</a></li>
        <li class="nav-item"><a href="/meal" class="nav-link px-2 text-muted">Meal</a></li>
  
        <li class="nav-item"><a href="https://www.klyuniv.ac.in/" class="nav-link px-2 text-muted">University portal</a>
        </li>
        <li class="nav-item"><a href="/contact_us" class="nav-link px-2 text-muted">FAQs</a></li>
        <li class="nav-item"><a href="/info" class="nav-link px-2 text-muted">Project Info</a></li>
      </ul>
      <p class="text-center text-muted">© 2022 KU Hostel, Inc</p>
    </footer>
  </div>
  
{% endblock body %}