{% extends 'base.html' %}

{% block title %} Cost {% endblock title %}
{% block body %}








  

<div class="container-fluid  px-0 mb-3">
  <img src="/static/image/1112.jpg" class="d-block w-100 " width="2000" height="400" alt="...">
</div>

<main class="container px-0 my-4">

<h2><strong> Hostel Fees</strong></h2>
<p>The fee structure of the  halls and the hostel is mentioned below.</p>
<table class="table table-dark table-hover table-bordered">
	<tbody>
		<tr>
			<th>Particular</th>
			<th>Fee (INR)</th>
		</tr>
		<tr>
			<td>Hostel Fee (Refundable and at time of admission)</td>
			<td>4,000</td>
		</tr>
		<tr>
			<td>Hostel Admission Fee</td>
			<td>1,000</td>
		</tr>
		<tr>
			<td>Hostel Seat Rent</td>
			<td>750</td>
		</tr>
		<tr>
			<td>Hall Establishment Charge (Paid in each semester)</td>
			<td>15,125</td>
		</tr>
		<tr>
			<td>Mess Advance</td>
			<td>12,000</td>
		</tr>
		<tr>
			<td>Hall Budget</td>
			<td>1,000</td>
		</tr>
		<tr>
			<td>Hostel Overhead Charge</td>
			<td>730</td>
		</tr>
	</tbody>
</table>
</div>
<main class="text-center">
  <div class="container-fluid  px-4 py-4">

    <div class="px-2">

    </div>

    <div class="card mb-4 box-shadow">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Room Pricing</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">34,605 <small class="text-muted">/ year</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>Shared room included</li>
          <li>One fan</li>
          <li>One waredrobe</li>
          <li>One table</li>
        </ul>
        <a href="/payment"><button type="button" class="btn btn-lg btn-block btn-dark">Add now</button></a>
      </div>
    </div>
  </div>
</main>
  

  









<div class="container">
  <footer class="py-3 my-4 px-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a href="/" class="nav-link px-2 text-muted">Home</a></li>
      <li class="nav-item"><a href="/meal" class="nav-link px-2 text-muted">Meal</a></li>

      <li class="nav-item"><a href="https://www.klyuniv.ac.in/" class="nav-link px-2 text-muted">University portal</a>
      </li>
      <li class="nav-item"><a href="/contact_us" class="nav-link px-2 text-muted">FAQs</a></li>
      <li class="nav-item"><a href="/info" class="nav-link px-2 text-muted">Project Info</a></li>
    </ul>
    <p class="text-center text-muted">© 2022 KU Hostel, Inc</p>
  </footer>
</div>

{% endblock body %}